<%= form_for(@pledge) do |f| %>
  <% if @pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% @pledge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :smallGroup %><br>
    <%= f.text_field :smallGroup %>
  </div>

  <%= f.hidden_field :killsWeek, :value => 0 %>
  <%= f.hidden_field :diedWeek, :value => false %>
  <%= f.hidden_field :killsTotal, :value => 0 %>
  <%= f.hidden_field :deathsTotal, :value => 0 %>
  <%= f.hidden_field :smallGroups_id, :value => 0 %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>