<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @small_group.name %>
</p>

<p>
  <strong>Ptas:</strong>
  <%= @small_group.ptas %>
</p>

<p>
  <strong>Numpledges:</strong>
  <%= @small_group.numPledges %>
</p>

<p>
  <strong>Killsweek:</strong>
  <%= @small_group.killsWeek %>
</p>

<p>
  <strong>Killstotal:</strong>
  <%= @small_group.killsTotal %>
</p>

<p>
  <strong>Photosweek:</strong>
  <%= @small_group.photosWeek %>
</p>

<p>
  <strong>Photostotal:</strong>
  <%= @small_group.photosTotal %>
</p>

<p>
  <strong>Throwdownpoints:</strong>
  <%= @small_group.throwdownPoints %>
</p>

<p>
  <strong>Initialpoints:</strong>
  <%= @small_group.initialPoints %>
</p>

<p>
  <strong>Pointsweek:</strong>
  <%= @small_group.pointsWeek %>
</p>

<p>
  <strong>Pointstotal:</strong>
  <%= @small_group.pointsTotal %>
</p>

<%= link_to 'Edit', edit_small_group_path(@small_group) %> |
<%= link_to 'Back', small_groups_path %>
