<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "APO Small Group Wars", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%#= link_to "Feed", feed_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Manage Small Group", small_groups_path %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Throwdowns<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "About and Rules", throwdowns_rules_path %></li>
            <li><%= link_to "Current Throwdowns", throwdowns_current_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Spoon Wars<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "About and Rules", spoonwars_rules_path %></li>
            <li><%= link_to "Matchups", spoonwars_matchups_path %></li>
            <li><%= link_to "Pledge Roster", spoonwars_pledge_roster_path %></li>
            <li><%= link_to "Report a Kill", spoonwars_report_kill_path %></li>
            <li><%= link_to "Report a Wrongful Death", spoonwars_wrongful_death_path %></li>
            <li><%= link_to "Scores", spoonwars_scores_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photo Challenge<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "About and Rules", photo_rules_path %></li>
            <li><%= link_to "Current Challenges", photo_current_path %></li>
            <li><%= link_to "Submit a Pic", photo_submit_path %></li>
          </ul>
        </li>
        <li><%= link_to "Points", points_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container -->
</nav>
